html, body {
    display: block;
}

#submit-form {
    display: none;
}

table {
    margin: 0 auto;
}


th {
    font-size: 2em;
    padding: 10px 20px;
    white-space: nowrap;
    width: 15%;
}

td {
    text-align: center;
}